{% extends 'core/base.html' %} {% load static %}

<!--  -->
{% block mdn %} 
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
{% endblock %}
<!--  -->
{% block title %} Login {% endblock %}
 {% block content %}
    
<style>
  :root {
    --color-dark: black;
    --color-light: white;
  }

  .body {
    /* background-image: url("{% static 'winter_city.jpg' %}"); */
    background-color: steelblue;
    
    color: #fff;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
    overflow: hidden;
    margin: 0;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 25%;
    padding: 20px 40px;
    border-radius: 5px;
  }

  .container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .container p {
    text-align: center;
  }

  .container a {
    text-decoration: none;
    color: lightblue;
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    color: #1d1c1c;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 5px 3.5px #1d1c1c;
    -moz-box-shadow: 6px 6px 5px 3.5px #1d1c1c;
    box-shadow: 6px 6px 5px 3.5px #1d1c1c;
  }

  .btn:hover {
    -webkit-box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
    -moz-box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
    box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
  }

  .btn:focus {
    outline: 0;
  }

  .btn:active {
    transform: scale(0.98);
  }

  .text {
    margin-top: 30px;
  }

  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: border-box;
  }

  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
  }

  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }

  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }

  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
  }
</style>
<div class="body mr-0">
  <div class="container mr-0">
    <h1>Pay Slip</h1>
        
    <form action="" method="POST" data-month-url="{% url 'ajax_load_month' %}" id="pay_slip">
      {% csrf_token %}
      <div class="">
        <table class="w-full">

            <tr class="">
                <td class="mr-100">Year</td>
                <td>
                    <select name="year" id="year" class="text-white bg-blue-700 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      
                    
                      <option class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" value="">Select Year</option>
                        {% for year in years %}
                        <option class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" value="{{year}}">{{year}}</option>
                        {% endfor %}
                        
                      </select>
                </td>
                
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            <tr class="pt-500">
                <td>Month</td>
                <td>
                  
<button  name="month" id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="bottom" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full" type="button">Select Month <svg class="w-4 h-4 ml-35" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>

<!-- Dropdown menu -->
<div id="dropdownSearch" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
    <div class="p-3">
      <label for="input-group-search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="input-group-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Month">
      </div>
    </div>
    <ul id="month" class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">

    </ul>

</div>

                </td>
                
              </tr>
              
            
          </table>
        
<br>
      <button class="btn mt-5 ">Submit</button>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $('#year').change(function(){
    const url=$("#pay_slip").attr("data-month-url");
    const yearId=$(this).val();
    console.log(yearId);


    $.ajax({
      url:url,
      data:{
        'year_id':yearId
      },
      success:function(data){
        $('#month').html(data);
      }
    })
  })
</script>
{% endblock content %}
