{% extends 'core/base.html' %} {% load static %}

<!--  -->
{% block mdn %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
<!--  -->
{% block title %} Login {% endblock %} {% block content %}

<style>
  :root {
    --color-dark: black;
    --color-light: white;
  }

  .body {
    /* background-image: url("{% static 'winter_city.jpg' %}"); */
    background-color: steelblue;
    color: #fff;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 25%;
    padding: 20px 40px;
    border-radius: 5px;
  }

  .container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .container p {
    text-align: center;
  }

  .container a {
    text-decoration: none;
    color: lightblue;
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    color: #1d1c1c;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 5px 3.5px #1d1c1c;
    -moz-box-shadow: 6px 6px 5px 3.5px #1d1c1c;
    box-shadow: 6px 6px 5px 3.5px #1d1c1c;
  }

  .btn:hover {
    -webkit-box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
    -moz-box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
    box-shadow: inset 3.5px 3.5px 5px 3.5px #1d1c1c;
  }

  .btn:focus {
    outline: 0;
  }

  .btn:active {
    transform: scale(0.98);
  }

  .text {
    margin-top: 30px;
  }

  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }

  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
  }

  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }

  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }

  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
  }
  footer {
    text-align: left;
    margin-top: 50px;
  }
</style>
<div class="body">
  <div class="container">
    <h1>Account Login</h1>
    <p>Hello Doctor, Welcome Back!</p>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-control">
        <input type="text" name="username" required />
        <label>Username</label>
      </div>

      <div class="form-control">
        <input type="password" name="password" required />
        <label>Password</label>
      </div>

      <button class="btn">Login</button>
      <p class="text">
        <a href="{% url 'forget_password' %}">Forget Password</a>
      </p>
    </form>
  </div>
  <footer class="">created by : Nishank Shakyawar</footer>
</div>
<script>
  const labels = document.querySelectorAll(".form-control label");

  labels.forEach((label) => {
    label.innerHTML = label.innerText
      .split("")
      .map(
        (letter, idx) =>
          `<span style="transition-delay:${idx * 50}ms">${letter}</span>`
      )
      .join("");
  });
</script>

{% endblock content %}
